$font-family-default: "Lato", sans-serif; // peso 500
$font-family-title: "Lato", serif; // pesos 900

// Cores
$primary: #7993a5;
$bg: #fff;
$bg-form: rgba(202, 202, 202, 0.699);
$button: #7993a5;
$button-hover: #54626b;
$white: #ffffff;
$dark: #000;
$gray: #5c5c5c;
$red: #8d2d26;
