body {
  min-height: 100vh;
  background-image: url("../../assets/images/BaciaViva_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main {
  width: 100%;
  height: auto;
  color: $white;
}
.grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header"
    "Content Content"
    "Form Form"
    "Footer Footer";
}
.Header {
  grid-area: Header;
  padding: 40px 90px 20px 40px;
  img {
    width: 150px;
    height: auto;
  }
}

.Content {
  grid-area: Content;
  padding: 40px;
  h1 {
    font-family: $font-family-title;
    font-weight: normal;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 35px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }
  a {
    text-decoration: none;
    color: #FFFFFF;
    &:hover {
      text-decoration: underline;
    }
  }
}

.Form {
  grid-area: Form;
  padding: 15px 0 10px;
  .wrapform {
    width: 100%;
    height: 100%;
    background: rgba(6, 19, 24, 1);
  }
  .form-container {
    border-radius: 10px;
    max-width: 35.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 2.75rem;
    position: relative;
    form {
      .dEVaGV {
        font-family: Helvetica, Arial, sans-serif;
        color: #FFFFFF;
        display: block;
        font-size: 0.875rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }
      .submit-button {
        font-family: $font-family-default;
        background: #09394D;
        border-radius: 10px;
        border: none;
        display: inline-block;
        font-weight: 900;
        font-size: 13px;
        line-height: 200%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        outline: currentcolor none 0px;
        padding: 15px 29px;
        text-decoration: none;
        transition: background-color 0.1s ease-in 0s, box-shadow 0.1s ease-in 0s;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          background-color: $button-hover;
        }
      }
      .iFTUZ {
        color: #FFFFFF;
      }
      .iMsgpL {
        appearance: none;
        background-color: rgb(255, 255, 255);
        border: 0px none;
        border-radius: 0.1875rem;
        box-sizing: border-box;
        color: rgb(67, 77, 93);
        font-size: 0.875rem;
        line-height: 1.5;
        min-height: 2.8125rem;
        outline: currentcolor none 0px;
        padding: 0.75rem 1rem;
        transition: box-shadow 0.2s ease 0s;
        width: 100%;
        margin-bottom: 1.5rem;
      }
      .iMsgpL:focus {
        box-shadow: transparent 0px 0px 0px 0px inset,
          rgb(16, 26, 37) 0px 0px 0px 1px inset,
          rgba(80, 156, 246, 0.25) 0px 0px 0px 2px;
      }
    }
  }
  .box-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 266px;
    justify-content: center;
  }
  h2 {
    color: #ffffff;
    margin-bottom: 0;
  }
}

.Footer {
  grid-area: Footer;
  padding: 40px;
  display: flex;
  justify-content: center;
  ul {
    margin: 0 0 20px 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin-right: 18px;
      margin-bottom: 25px;
      a {
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
          fill: #FFFFFF;
        }
        span {
          margin-left: 8px;
          margin-bottom: 2px;
        }
        &:hover span {
          text-decoration: underline;
        }
      }
    }
  }
}

/*
=====================================================
Meida Queries  576px
=====================================================
*/
@media (min-width: 576px) {
  .Header {
    img {
      width: auto;
      height: auto;
    }
  }
}
// 576px

/*
=====================================================
Meida Queries  768px
=====================================================
*/
@media (min-width: 768px) {
  .grid-container {
    height: 100vh;
  }
  .Content {
    padding: 40px 200px;
  }
  .Form {
    padding: 15px 140px 70px;
  }
}
// 768px

/*
=====================================================
Meida Queries  991px
=====================================================
*/
@media (min-width: 991px) {
  body {
    background-image: url("../../assets/images/BaciaViva_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 50% 20%;
    gap: 0px 0px;

    grid-template-areas:
      "Header Header"
      "Content Form"
      "Footer Footer";
  }

  .Header {
    padding: 70px;
    img {
      width: auto;
      height: auto;
    }
  }

  .Content {
    padding: 0 70px 0 180px;
    display: flex;
    flex-direction: column;
    align-content: center;
    h1 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 40px;
    }
    p {
      font-size: 18px;
      line-height: 180%;
    }
  }

  .Form {
    padding: 0 180px 70px 70px;
    .wrapform {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    .form-container {
      max-width: 35.25rem;
      margin-left: auto;
      margin-right: auto;
      padding: 2.5rem 2.75rem;
      position: relative;
    }
  }

  .Footer {
    padding: 30px 70px 30px 180px;
    justify-content: flex-start;
  }
}
// 991px

// Controle para telas notbook de altura de 768px
@media screen and (max-height: 768px) and (min-width: 1366px) {
  .Header {
    padding: 0px 70px;
  }

  .Content {
    padding: 0 70px 0 180px;
    h1 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 70px;
    }
    p {
      font-size: 16px;
      line-height: 150%;
    }
  }

  .Form {
    padding: 0 180px 0 70px;
  }
}
