/*
//-------------------------------------------------------------------
@File: Default Styles

@Author: Henderson Torres
Author E-mail: teconet.arte@gmail.com

@Author: Marcelo Fiuza
Author E-mail: contato@marcelofq.com.br

//-------------------------------------------------------------------
*/

// Variavéis de configuração
@import "../../_partials/variables";

// Globals
@import "../../_partials/globals";

// Paginas
@import "../../_partials/_pages/construcao";
